<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.wodify.cordova.plugin.file-picker"
    version="0.0.1">

    <name>Cordova-Plugin-Instabug</name>

    <description>Cordova plugin for picking files.</description>

    <repo>https://github.com/elizabethrego/cordova-plugin-instabug</repo>

    <keyword>file picker, files, document picker</keyword>

    <license>Apache 2.0, MIT</license>

    <author>Elizabeth Rego, jcesarmobile</author>

    <!-- cordova -->
    <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

    <!-- js -->
  <js-module src="www/file-picker.js" name="FilePicker">
    <clobbers target="cordova.plugins.filePicker" />
  </js-module>

  <!-- android -->
  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="FilePicker">
              <param name="android-package" value="com.wodify.cordova.plugin.filepicker.FilePicker"/>
          </feature>
      </config-file>

      <source-file src="src/android/commons-io-2.4.jar" target-dir="libs" framework="true" />

      <source-file src="src/android/FilePicker.java" target-dir="src/com/wodify/cordova-plugin-file-picker" />
      <source-file src="src/android/FileHelper.java" target-dir="src/com/wodify/cordova-plugin-file-picker" />

   </platform>

    <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="FilePicker">
        <param name="ios-package" value="FilePicker"/>
      </feature>
    </config-file>

    <header-file src="src/ios/FilePicker.h"/>
    <source-file src="src/ios/FilePicker.m"/>

    <hook type="after_plugin_install" src="src/ios/hooks/prerequisites.js"/>
    <hook type="after_plugin_install" src="src/ios/hooks/install_entitlements.js"/>
  </platform>

</plugin>
